[settings]
constraints c1a c1b c2 c4 c5 c6 c7 c8 c9
n_neighbours 1
distance .01
push_factor .1
map_marker right_index

[c0]
type startpose
pose widepose
mask mask_pose
weight 0.4

[c1a]
type homepose
pose widepose
mask mask_pose
weight 1

[c1b]
type fixpose
pose widepose
mask mask_fixed

[c2]
type collision
weight 1

[c4]
type position
weight 1
pos  -0.2 -0.2 0.1
marker left_hand

[c5]
weight 1
type orientation
orientation 0 0 1
axis 0
marker left_hand

[c6]
weight 1
type orientation
orientation 0 -1 0
axis 1
marker left_hand

[c7]
weight 10
type orientation
orientation 0 0 1
axis 0
marker right_hand

[c8]
weight 10
type pointing
marker right_hand
pos -0.3  0.05  0.1
distance .001
axis 1
dir 1

[c9]
weight 10
type plane
pos .1
axis 2
marker right_hand

[homepose]
pose 0 0 0 0 0 0 0 0 0 -26 20 0 50 0 0 0 10 30 0 0 0 0 0 0 0 -26 20 0 50 0 0 0 10 30 0 0 0 0 0 0 0

[widepose]
pose 0 0 10 0 0 0 0 0 0 -45. 45. 75. 60 -65 0 0 10 60 100 0 0 0 0 0 0 -45 45 75 60 -65 0 0 10 60 100 0 0 0 0 0 0

[posemask]
mask 1 1 1 0 0 0 0 0 0 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0

[mask_pose]
mask 1 1 5 0 0 0 0 0 0 0.33 0.33 0.33 0.25 0.25 0.1 0.1 0 0 0 0 0 0 0 0 0 0.33 0.33 0.33 0.25 0.25 0.1 0.1 0 0 0 0 0 0 0 0 0

[mask_fixed]
mask 0 0 0 1 1 1 1 1 1 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1