[settings]
constraints c2 c5
n_neighbours 2
distance .05
push_factor .01
map_marker right_hand

[c1]
type homepose
pose widepose
mark posemask
weight 10

[c2]
type collision
weight 3

[c3]
type position
weight 1
pos  -.3 .0 .0
marker right_hand

[c4]
weight 1
type averageposition
pos -.3 .0 .0
marker1 right_hand
marker2 left_hand

[c5]
weight 1
type plane
pos .1
axis 2
marker right_hand

[c6]
weight 1
type orientation
orientation -1 0 0
axis 0
marker right_hand

[c7]
weight 1
type pointing
marker right_hand
pos -.3 0 0
distance .1
axis 1
dir 1

[c8]
weight 1
type pointingmarker
marker head
pointmarker right_hand
distance 0
axis 1
dir 1

[c9]
weight 1
type opposite
marker1 right_hand
marker2 left_hand
pos -.3 0 0

[c10]
weight 1
type grasp
marker1 right_index
marker2 right_thumb
index1 1
index2 1
distance .1
pos -.3 0 0

[homepose]
pose 0 0 0 0 0 0 0 0 0 -26 20 0 50 0 0 0 10 30 0 0 0 0 0 0 0 -26 20 0 50 0 0 0 10 30 0 0 0 0 0 0 0

[widepose]
pose 0 0 0 0 0 0 0 0 0 -45. 45. 75. 60 -65 0 0 10 60 100 0 0 0 0 0 0 -45 45 75 60 -65 0 0 10 60 100 0 0 0 0 0 0

[posemask]
pose 1 1 1 .2 .2 .2 0 0 0 1 1 1 1 1 1 .1 .1 .1 .1 .1 .1 .1 .1 .1 .1 1 1 1 1 1 1 .1 .1 .1 .1 .1 .1 .1 .1 .1 .1
