<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CBFilter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>KinematicModel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>KinematicModelDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>MoBeE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>PoseFinder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>PositionReflex.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>RobotFilter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>YarpModel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>bruteForceReach.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>circle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>exploitReach.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>iCubRL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>imrl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>least_tried.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>parallel_imrl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>poses.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>powerPlayReach.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>random.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>reaches.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04625ABECCD5448FB28B1961</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04C14CE1AB75469D81148E94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0793BC491B01450585F92D53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C4C19E199D844B0AAD6023E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CABBA31C22A4D41A0E044DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DF4E0E9867245109F0BAD67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12F0846A9C274B3B84B5CDE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19A1C0A5F51947FC8BCB8865</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19F5961CDECC4B3EB3C6EAEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1ABDAB6A90ED46ABA879E520</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BACD11EA6614A50891A13DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C6B56AC3E2B4861924D8F1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>222775555A7B4D42A55F2FF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>226C32E0FB97469DA1374888</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22CD4CE07126437A8EAB43F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>24D182FB1D1B4D81A8B41C3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26706AB46537477B8C00034B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26CE3D8BBECD492F971BC9E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2CBFAF8282AD40E1A2CD47D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EEAA274AABE481D8260B1E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38A70F35DBCF46BE8586E9EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A66F3BB039B433FA66EAF7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A9099044D3E49748E8CCCB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B8B4D42BCA34EE7803F6CB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3C8D8A4E419D4E45BB1C0109</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CDD3E99258F4866A90D1751</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3D6E7D6D2C4E4A498666C282</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42FBB44B0E1447B4809CF871</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4FF0877081B94B99A527F041</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52D2DE5277484607992B01A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BB5CEECB87A469C940B3012</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BFCA3D287514837BBF8B141</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5D1FF895B0134E6C91324828</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64DC6B35C9C347DE89655DE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68960B99B3DE458AB32DC746</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C8DD419D1E24192A1746B20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E69C907A8AE43AD99754C13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7704337E00044C89B782299C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A9E6980B9B143B6A84735A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8975358BB13C4312BB70DFE8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A3F133E68274FAEBA76CBBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EE91AFB42AE457BB62B3FF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B42E97EE12044BD8C922026</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EC428E832514F24852EBA27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A03EB2EB03D346BF832FC17C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A26ECA02924745E6819D421A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2FC27FEE1D6484E90B2C4AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5F51E630A7C4C9696730262</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A77DD8429E8E4362B3972680</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7D18FB1487D4C58AD0BB1BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A80113E14E8C4FFA8000580E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B45CB72096BE4838B4D840F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6804928D8AC4F87A9693E1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7FC581A391F4C07BF1496DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C13469025E5040F58D63AC60</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C158BA1C918D4B14A081483C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6569D187FD242C09C3E6234</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E147090148344B11864869EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC331B223E5645C48F78D1DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED8F58F6CB6949E5A236E044</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDEE7801A3A24E299CBCB6FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFC0B502706243F48BAE69CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFCCF77DDA0845549DED9223</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2353F0D5DA149CAB6F15746</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F551731A54D043FAABACFD58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8C0392E9FBA4F199EB6FCFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
