<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>rl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>17D012FD8E624212A433A893</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EC2AE9DC68849DD80F9DDAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6524B4E3014A4D38A1C06F95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FFCEE250FC14B1D8DA68BA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9ED966AA19BB4BA8BEAD5995</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2DD686E8E654E7696AD216D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC5408CA663541F384FA03BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C247DA75794648699C8BB78E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE3C34C3561D4F74A705A36A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF57C31310C1416FA7313AF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6277B7DE17D49EB825B5DCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D9256BD14E814ADD846A581A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
